---
permalink: 'app/home.html'
---
{% set title = 'Hey Mia' %}
{% extends "chat-layout.njk" %}

{% block body %}
  <main class="">
    <div class="container mx-auto px-4 py-10">
    <h1 class="text-3xl font-bold mb-4">Hey Mia - Miami Climate Data Chat Interface</h1>
    
    <section>
      {% include "app-tabs.njk" %}
  </div>
  </main>
{% endblock %}
